@import "fonts"
@import "vars"
@import "./mixins/fadeIn"

*
	padding: 0
	margin: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	font-family: $default-font
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	background: $primary-color
	color: $white
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	font-weight: 500
	overflow-x: hidden

h1
	font-size: 24px
	letter-spacing: -0.02em

h2
	line-height: 22px
	font-size: 18px

input
	border: none
	background-image: none
	background-color: transparent
	-webkit-box-shadow: none
	-moz-box-shadow: none
	box-shadow: none
	&:focus
		outline: none

button
	padding: 0
	border: none
	font: inherit
	color: inherit
	background-color: transparent
	outline: none
	&:hover
		border: none
		outline: none
	&:active
		border: none
		outline: none
	&:focus
		outline: none
		border: none

a
	letter-spacing: $letter-spacing

p
	line-height: 17px

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.wrapper
	@include fadeInAnimation
	padding-left: calc( 50% - 720px )
	padding-right: calc( 50% - 720px )

.container
	display: flex
	flex-wrap: nowrap
	padding-left: calc( 50% - 492px )
	padding-right: calc( 50% - 596px )
	&__left
		width: 57.7%
	.post
		margin-top: 48px
		&:last-child
			margin-bottom: 48px
	&__right
		width: 42%

.header-location
	margin-top: 12px
	padding-left: calc( 50% - 492px )
	margin-bottom: 18px

.create-note
	color: $primary-color
	background: $white
	box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.3)
	border-radius: 4px
	width: 100%
	padding: 8px 16px
	font-size: 14px
	font-weight: 700
	letter-spacing: -0.03em
	cursor: pointer
	transition: .2s all ease-in-out
	&:hover
		box-shadow: $white-shadow

.right-block
	text-align: right
	margin-left: auto
	max-width: 286px
	position: relative
	bottom: 45px
	hr
		margin: 14px 0
		border: 1px solid $white
	&__user-info
		display: flex
		justify-content: space-between
		flex-wrap: nowrap
		text-align: right
		img
			width: 40%
			height: 40%
			max-width: 130px
			box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3)
			border-radius: 4px
		p
			font-weight: bold
			font-size: 12px
			line-height: 15px
	&__subs
		margin-top: 40px
		a
			text-align: left
			font-weight: bold
			font-size: 18px
			line-height: 22px
			align-items: center
			letter-spacing: -0.04em
			text-decoration: none
			color: $white
			cursor: pointer
			transform: none
			transition: .2s transform ease-in-out
			&:hover
				transform: perspective(400px) translateZ(-10px)
		.subs-block
			display: flex
			flex-direction: column
	&__media
		margin-top: 40px
		.media-list
			display: flex
			flex-wrap: wrap
			a
				width: 83px
				height: 83px
				img
					border-radius: 4px
					width: 100%
					height: 100%
					background-size: cover
					transform: none
					transition: .2s transform ease-in-out
					object-fit: cover	
					&:hover
						transform: perspective(400px) translateZ(-10px)
				&:nth-child(3n+2)
					margin: 0 12px 12px 15px
	&__list
		display: flex
		flex-wrap: wrap
		justify-content: flex-end
		a
			@include fadeInAnimation
			text-align: center
			width: 31.3%
			text-decoration: none
			color: $primary-color
			background: $white
			padding: 3px 0
			border-radius: 4px
			margin: 4px 0
			transition: 0.2s all ease-in-out
			&:nth-child(3n+2)
				margin: 4px 8px
			&:last-child
				margin-left: 8px
				margin-right: 0px
			&:hover
				box-shadow: $white-shadow

@keyframes fadeIn
	@include fadeInKeyframes

@media only screen and (max-width : 992px)
	main
		margin: 0 10px
