@import "../../sass/vars"
@import "../../sass/mixins/fadeIn"

.post__images > .img-box + .img-box
    margin-left: 4px

.post
    @include fadeInAnimation(.2s)
    transition: .22s ease-in-out
    display: flex
    color: var(--text-color)
    &__dropdown
        @include fadeInAnimation(.2s)
        text-align: center
        box-shadow: 0px 0px 12px 3px var(--shadow)
        display: flex
        position: absolute
        flex-direction: column
        top: 35px
        right: -110px
        background: var(--white)
        z-index: 10
        border-radius: 2px
        border: 2px solid var(--border)
        color: var(--text-color)
        font-weight: 500
        > span
            padding: 4px 8px
            border-bottom: 1px solid var(--border)
            > h4
                font-size: 12px
        > button
            transition: .1s background ease-in-out
            cursor: pointer
            padding: 8px 4px
            &:hover
                background: #dcdfdf
    &__left
        width: 11.4%
        max-width: 70px
        min-width: 70px
        height: 70px
        min-height: 70px
        display: flex
        align-items: center
        justify-content: center
        position: relative
        overflow: hidden
        border-radius: 4px
        border: 2px solid var(--border)
        img
            height: 100%
            width: 100%
            min-width: 100%
            min-height: 100%
            object-fit: cover
    &__images
        display: flex
        justify-content: space-between
        .img-box
            width: 100%
            max-height: 540px
            overflow: hidden
            display: flex
            justify-content: center
            align-items: center
            &__opacity
                transition: .3s ease-in-out
                opacity: 0
                width: 100%
                max-height: 540px
            &__loaded
                opacity: 1
        img
            min-height: 100%
            min-width: 100%
            object-fit: cover
    &__right
        min-width: calc(88.6% - 20px)
        margin-left: 20px
        box-shadow: 0px 0px 32px 4px var(--shadow)
        border-radius: 4px
        border: 2px solid var(--border)
        background: var(--white)
        &--remove
            min-width: calc(88.6% - 20px)
            margin-left: 20px
            box-shadow: 0px 0px 32px 4px var(--shadow)
            border-radius: 4px
            border: 2px solid var(--border)
            background: var(--white)
            text-align: center
            font-size: 12px
            display: flex
            flex-direction: column
            align-items: center
            align-content: center
            justify-content: center

        .blogname
            font-weight: 600
            display: flex
            padding: 12px 12px
            font-size: 14px
            line-height: 17px
            letter-spacing: -0.03em
            > button
                margin-left: auto
                transition: .2s ease-in-out
                transform: none
                cursor: pointer
                &:active
                    transform: translateY(1px)
            &__list
                text-decoration: none
                color: var(--text-color)
            .author-post
                display: flex
                align-items: center
                color: var(--gray)
                .reply
                    margin: 0 4px
                    transform: scale(-1, 1)
                    width: 10px
                    height: 9px
                a
                    text-decoration: none
                    color: var(--gray)
            > span
                margin-left: auto
    &__create
        background: none
        box-shadow: none
        border: none
        margin-top: 2px
    .footer-post
        justify-content: space-between
        display: flex
        align-items: center
        padding: 0 12px 2px 12px
        font-weight: 600
        margin-top: 16px
        &__left
            display: flex
            overflow: hidden
            > span
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
        &__tags
            overflow: hidden
            text-overflow: ellipsis
            a
                text-decoration: none
                font-weight: 500
                color: var(--gray)
                margin-left: 12px
        &__right
            display: flex
        &__repost
            cursor: pointer
            stroke: var(--text-color)
            svg
                width: 24px
                height: 24px
            &--active
                animation: 0.3s ease-in-out backwards liked
                cursor: pointer
                stroke: var(--text-color)
                margin-left: 14px
                svg
                    width: 24px
                    height: 24px
                    path
                        fill: var(--text-color)
        &__heart
            cursor: pointer
            margin-left: 14px
            stroke: var(--text-color)
            svg
                width: 24px
                height: 24px
            &--active
                animation: 0.3s ease-in-out backwards liked
                cursor: pointer
                stroke: var(--text-color)
                margin-left: 14px
                svg
                    width: 24px
                    height: 24px
                    path
                        fill: var(--red)
    h2
        padding: 4px 12px
    p
        padding: 8px 12px 0 12px

@keyframes fadeIn
    @include fadeInKeyframes

@keyframes liked
    0%
        transform: scale(1)
    50%
        transform: scale(1.1)
    100%
        transform: scale(1)

.loadAnimation
    position: relative
    animation: .22s loadAnimation ease-in-out

.removeAnimation
    position: relative
    animation: .22s removeAnimation ease-in-out

@keyframes loadAnimation
    from
        opacity: 0
        bottom: -30px
    to
        opacity: 1
        bottom: 0

@keyframes removeAnimation
    from
        opacity: 1
        bottom: 0px
    to
        opacity: 0
        bottom: 30px

@media only screen and (max-width: 768px)
    .d-none
        display: none
    .post
        &__create
            .create-note
                padding: 9px 8px 9px 45px
        &__right
            min-width: 0
            margin-left: 0
            width: 100%
            .blogname
                margin-left: 32px
            &--remove
                padding: 9px
                width: 100%
                margin-left: 0
        &__left
            position: absolute
            width: 30px
            height: 30px
            min-width: 30px
            min-height: 30px
            border-radius: 9px
            top: 7px
            left: 7px
            border: 0px
        &__dropdown
            right: 14px
            box-shadow: 0px 0px 12px -4px #000000ad
