@import "../../sass/vars"
@import "../../sass/mixins/fadeIn"

.post__images > .img-box + .img-box
    margin-left: 4px

.post
    @include animation
    display: flex
    color: $primary-color
    &__left
        width: 11.4%
        img
            width: 70px
            height: 70px
            border-radius: 4px
    &__images
        display: flex
        .img-box
            width: 100%
        img
            width: 100%
            height: 100%
    &__right
        margin-left: 20px
        box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.3)
        border-radius: 4px
        background: $white
        .nickname
            display: flex
            padding: 12px 14px
            font-size: 14px
            line-height: 17px
            letter-spacing: -0.03em
            &__list
                text-decoration: none
                color: $primary-color
            .author-post
                display: flex
                align-items: center
                color: $gray
                .reply
                    margin: 0 4px
                    transform: scale(-1, 1)
                    width: 10px
                    height: 9px
                a
                    text-decoration: none
                    color: $gray
        .footer-post
            justify-content: space-between
            display: flex
            align-items: center
            padding: 0 12px 2px 12px
            font-weight: 600
            margin-top: 16px
            &__left
                display: flex
            &__right
                display: flex
            &__repost
                cursor: pointer
                stroke: $primary-color
                svg
                    width: 24px
                    height: 24px
            &__heart
                cursor: pointer
                margin-left: 14px
                stroke: $primary-color
                svg
                    width: 24px
                    height: 24px
            &__tags
                a
                    font-weight: 500
                    color: $gray
                    margin-left: 12px
    h2
        padding: 0 12px
    p
        padding: 8px 12px 0 12px

@keyframes fadeIn
    @include keyframes
