@import '../../../sass/_vars'
.button
    border-radius: 4px
    text-align: center
    color: var(--white)
    letter-spacing: -0.03em
    cursor: pointer
    &:disabled
        background: var(--gray)
        cursor: not-allowed 
    > svg 
        margin-left: 4px  

.button-s
    font-size: 12px
    letter-spacing: 0
    font-weight: 600
    padding: 4px 12px
    
.button-l
    font-size: 18px
    letter-spacing: 0
    font-weight: 600
    padding: 4px 12px

.button-xl
    font-size: 21px
    font-weight: bold
    padding: 10px 36px

.navButton
    font-size: 18px

.green
    background: var(--green)

.blue
    background: var(--blue)

.red
    background: var(--red)

.gray
    background: var(--gray)