@import "../../sass/vars"

.select-type
    display: flex
    justify-content: center
    button
        border-radius: 8px
        background: var(--primary-color)
        color: var(--secondary-color)
        text-transform: uppercase
        font-size: 12px
        font-weight: bold
        padding: 4px 10px
        cursor: pointer
        transform: none
        filter: none
        transition: .2s ease-in-out
        &:active
            transform: translateY(1px)
        &:last-child
            margin-left: 8px
    > .active
        background: var(--secondary-color)
        color: var(--primary-color)